---
import Badge from "@/components/Badge.astro"
import type { TechnologySection } from "@/content/config"
import { getEntries } from "astro:content"

interface Props extends TechnologySection {}

const { title, items } = Astro.props

const technologies = await getEntries(items)
---

<div class="flex flex-col gap-2">
   <h3 class="text-lg font-bold">{title}</h3>
   <div class="flex gap-4 flex-wrap">
      {
         technologies.map((technology) => (
            <Badge
               image={technology.data.logo}
               imageAlt={technology.data.logoAlt}
            >
               {technology.data.title}
            </Badge>
         ))
      }
   </div>
</div>
